#elegant {
  padding: 100px 0;
}
.elegant {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  button {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: black;
    background: #f0e71433;
    width: 158px;
    height: 44px;
    border-radius: 32px;
    border: none;
  }
  h1 {
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
  }
  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -1.1%;
    color: #555c68;
  }
}

.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  .card {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: start;
    width: 297px;
    height: 238px;
    background: white;
    padding: 32px;
    border-radius: 10px;
    transition: 0.9s;
    transition:  0.5s ease;
    border: none;
    h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }
  }
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
