

#footer {
  background: #101c26;
  padding: 50px 0;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.in{
  display: flex;
  gap: 20px;
}
.left {
  display: flex;
  justify-content: space-between;
}
.footer-info{
  display: flex;
  align-items: center;
  gap: 50px;
}
.footer1 {
  h5 {
    color: white;
  }
  p{
    color: #B3B3B3;
    margin: 20px 0;
  }
}
.footer2{
  display: flex;
  flex-direction: column;
  gap: 10px;
  h5{
    color: white;
  }
  a{
    color: #B3B3B3;
  }
}

.footer3{
  display: flex;
  flex-direction: column;
  gap: 20px;
  h5{
    color: white;
  }
  a{
    color: #B3B3B3;
  }
}

.footer4{
  display: flex;
  flex-direction: column;
  gap: 20px;
  h5{
    color: white;
  }
  a{
    color: #B3B3B3;
  }
}

.footer5{
  display: flex;
  flex-direction: column;
  gap: 20px;
  h5{
    color: white;
  }
  a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #B3B3B3;
    span{
      color: #F0E714;
    }
  }
}
.line{
  width: 1276px;
  height: 2px;
  border-bottom: 2px solid #989898;
  padding: 20px 0;
}