#header {
  padding: 25px 0;
  background: #101c26;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: head 1.5s ease-in-out alternate;
}
@keyframes head {
0%{
  transform: translateY(-135%);
}
}

.header_center {
  display: flex;
  align-items: center;
  gap: 45px;
  a {
    color: rgba(255, 255, 255, 0.678);
    font-weight: 500;
    font-size: 16px;
    transition: 0.5s;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
  }
  a:hover {
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
}
.header_right {
    display: flex;
    flex-direction: row;
    gap: 20px;
  #in {
    color: #cecece;
    background: rgba(255, 255, 255, 0);
    width: 117;
    height: 50;
    gap: 10px;
    border-radius: 100px;
    border: none;
    border: 1.5px solid #cecece;
    padding-top: 13px;
    padding-right: 32px;
    padding-bottom: 13px;
    padding-left: 32px;

    font-weight: 500;
    font-size: 16px;
    transition: 0.6s ;
    border: 0.7px solid #cecece ;
  }
  #in:hover {
    background: transparent;
    border: 0.7px solid white;
    transform: scale(1.1);
    color: white;
  }
  #up {
    background: #f0e714;
    color: #101c26;
    width: 138;
    height: 50;
    border-radius: 1000px;
    border: none;
    padding-top: 13px;
    padding-right: 39px;
    padding-bottom: 13px;
    padding-left: 39px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: 0.6s ;
    border: 0.7px solid #cecece ;
  }
    #up:hover {
    background: transparent;
    border: 0.7px solid white;
    transform: scale(0.9);
    color: white;
  }
}
