#hero {
  padding: 40px 0;
  padding-left: 75px;
  background: #101c26;
}
.hero-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
  h1 {
    color: white;
    font-weight: 700;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 1%;
  }
  p {
    color: #f3f4f6dc;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -1.1%;
  }
  #y {
    color: #f0e714;
  }
}
.star-hero {
  position: absolute;
  top: 155px;
  left: 430px;
}
.number-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  text-align: center;
  p {
    padding: 30px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
  }
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 190px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #f0e714;
    width: 197;
    height: 60;
    opacity: 1;
    gap: 10px;
    border-radius: 100px;
    border: none;
    padding-top: 18px;
    padding-right: 36px;
    padding-bottom: 18px;
    padding-left: 36px;
    transition: 0.6s ;
    border: 1px solid transparent;
    .hero-btns{
      font-size: 15px;
    }
  }
  button:hover {
    background: transparent;
    border: 1px solid white;
    transform: scale(1.1);
    color: white;
  }
}
.hero-how {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.hero-right {
  position: relative;
  .circle-img {
    position: absolute;
    top: -35px;
    left: 10px;
  }
}
.hero-market {
  position: absolute;
  top: 295px;
  left: -100px;
}
.hero-logo {
  padding: 70px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}
