* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  caret-color: transparent;
}
body {
  background: rgb(241, 241, 241);
}
a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
button{
  cursor: pointer;
}
